body {
    background: #CDD4D4;
}

.board {
    display: flex;
    flex-direction: column;
}
  
.board h1 {
    text-align: center;
    color: #024575;
    font-size: 60px;
    font-weight: 900;
}
  
.create-column {
    margin: 10px auto;
    padding: 10px 10px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: #024575;
    border: 2px solid #024575;
    border-radius: 3px;
    cursor: pointer;
}
  
.create-column:hover {
    color: #024575;
    background-color: #fff;
}
  
.column-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
  
.column-card-list {
    min-height: 200px;
    padding: 0 8px;
}

li {
    list-style-type: none;
    box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.9);
    background-color: bisque;
}
  
.column-title {
    color: black;   
    font-size: 50px;
    font-family: 'Reenie Beanie', cursive;
    text-align: center;
    margin-bottom: 0;
}
  
.card-description {
    padding: 5px;
    color: black;
}
  
.card > p {
    min-height: 20px;
    text-align: left;
    font-family: 'Roboto Slab', serif;
    
}
  
.column {
    background-color: #4A474A;
    border-radius: 3px;
    min-width: 20%;
    width: 220px;
    margin: 8px 30px;
    text-align: right;
    border: 6px solid #7A5C42;
    box-shadow: 2px 2px 3px 1px rgba(0, 0, 0, 0.2);
}
  
.btn-delete {
    max-height: 25px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    font-size: 16px;
    font-weight: 600;
}
  
.btn-delete:hover {
    color: #04243a;
}
  
.add-card {
    max-width: 100%;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    border-color: transparent;
}
  
.add-card:hover {
    color: #04243a;
}
