doctype html
html(lang='en')
head
    include ./style.pug
    title logowanie Google
    body
        div.success
            h1 Success!
            h2 Hello #{login}
        img.image(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTag4TO69J9UygkJqL_KRXZ7z-trWaYhP2-K13ugiGU0gofkG-E', alt="image")


